In [1]:
import pandas as pd

df = pd.read_csv('data_car.csv')
df.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11914 entries, 0 to 11913
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Make               11914 non-null  object
 1   Model              11914 non-null  object
 2   Year               11914 non-null  int64
 3   Engine Fuel Type   11911 non-null  object
 4   Engine HP          11845 non-null  float64
 5   Engine Cylinders   11884 non-null  float64
 6   Transmission Type  11914 non-null  object
 7   Driven_Wheels      11914 non-null  object
 8   Number of Doors    11908 non-null  float64
 9   Market Category    8172 non-null   object
 10  Vehicle Size       11914 non-null  object
 11  Vehicle Style      11914 non-null  object
 12  highway MPG        11914 non-null  int64
 13  city mpg           11914 non-null  int64
 14  Popularity         11914 non-null  int64
 15  MSRP               11914 non-null  int64
dtypes: float64(3), int64(5), object(8)
memory usage: 1.5+ MB

In [3]:
df.isna().sum()

Make                    0
Model                   0
Year                    0
Engine Fuel Type        3
Engine HP              69
Engine Cylinders       30
Transmission Type       0
Driven_Wheels           0
Number of Doors         6
Market Category      3742
Vehicle Size            0
Vehicle Style           0
highway MPG             0
city mpg                0
Popularity              0
MSRP                    0
dtype: int64

In [4]:
def print_null_report(df):
    for i, j in enumerate(df.isna().sum()):
        print(f'{df.columns[i]:20} | {j*100/len(df):.2f}%')
    
print_null_report(df)

Make                 | 0.00%
Model                | 0.00%
Year                 | 0.00%
Engine Fuel Type     | 0.03%
Engine HP            | 0.58%
Engine Cylinders     | 0.25%
Transmission Type    | 0.00%
Driven_Wheels        | 0.00%
Number of Doors      | 0.05%
Market Category      | 31.41%
Vehicle Size         | 0.00%
Vehicle Style        | 0.00%
highway MPG          | 0.00%
city mpg             | 0.00%
Popularity           | 0.00%
MSRP                 | 0.00%

In [5]:
df['Driven_Wheels'].value_counts()

Driven_Wheels
front wheel drive    4787
rear wheel drive     3371
all wheel drive      2353
four wheel drive     1403
Name: count, dtype: int64

In [6]:
df = df.dropna(subset = ['Engine Fuel Type', 'Engine Cylinders', 'Number of Doors', 'Engine HP'], axis = 0)

In [7]:
df.select_dtypes(include = 'object').columns

Index(['Make', 'Model', 'Engine Fuel Type', 'Transmission Type',
       'Driven_Wheels', 'Market Category', 'Vehicle Size', 'Vehicle Style'],
      dtype='object')

In [14]:
# Encode categorical variables using target encoder
from sklearn.preprocessing import TargetEncoder

te = TargetEncoder()
# one hot encode 'Driven_Wheels' column
# df = pd.get_dummies(df, columns = ['Driven_Wheels'], dtype = int )

# create correlation heat map
import seaborn as sns
import matplotlib.pyplot as plt

plt.figure(figsize=(12, 10))
sns.heatmap(df.corr(), annot = True)
plt.show()

ValueError: could not convert string to float: 'BMW'

In [12]:
df['Engine Fuel Type'].value_counts()

Engine Fuel Type
regular unleaded                                7155
premium unleaded (required)                     1991
premium unleaded (recommended)                  1519
flex-fuel (unleaded/E85)                         899
diesel                                           153
flex-fuel (premium unleaded required/E85)         54
flex-fuel (premium unleaded recommended/E85)      26
electric                                          13
natural gas                                        2
Name: count, dtype: int64